/* global */

body {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft JhengHei', '微軟正黑體', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

* {
    touch-action: pan-y;
    box-sizing: border-box;
}

img {
    width: 100%;
    margin: auto;
}

a, a:visited, a:hover {
    color: black;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

section {
    width: 100%;
    text-align: center;
}

article {
    text-align: left;
}

/* layout  */

.col_4 {
    width: 40%;
}

.col_6 {
    width: 60%
}

.layout_full {
    width: 100%;
    margin: auto;
}

.layoutFlex {
    display: flex;
    justify-content: space-around;
    padding: 3% 0;
    margin: 1% 0
}

.innerFlex {
    display: flex;
    margin: auto;
    justify-content: center;
}

.layoutIcon {
    align-content: space-around;
    display: flex;
}

.layoutIcon .item {
    width: 300px;
    padding: 30px;
    margin: auto;
}

.layoutIcon .item p {
    text-align: center;
    color: #a53a27;
}

@media screen and (max-width:768px) {
    .layoutIcon {
        display: block;
        text-align: center;
    }
    .layoutIcon .item {
        display: inline-block;
    }
}

.inner {
    max-width: 1440px;
    padding: 3%;
    background-color: #fff6e9;
    margin: auto;
}

.inner:nth-child(even) {
    background-color: #fbf0e0;
}

@media screen and (max-width:500px) {
    .inner {
        padding: 6% 3%;
    }
    .innerFlex {
        display: block;
    }
}

.inner article {
    margin: 5% auto;
}

/* class */

.banner {
    background-image: url('images/banner.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width:500px) {
    .banner {
        background-image: url('images/banner_mb.png');
        background-size: cover;
        width: 100%;
        height: 100vh;
        position: relative;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.bannerBtn {
    background-color: #000;
    color: white;
    position: absolute;
    transform: translateX(-50%)rotate(-5deg);
    transition: .3s;
    bottom: 10%;
    left: 50%;
    border-radius: 50px;
    padding: 5px 22px;
    font-size: 2.4rem;
    cursor: pointer;
    animation: move 1s infinite;
}

@keyframes move {
    0% {
        bottom: 10%;
    }
    50% {
        bottom: 12%;
    }
    100% {
        bottom: 10%;
    }
}

.inner p {
    margin-bottom: 3%;
    font-size: 1.3rem;
}

@media screen and (max-width:500px) {
    .inner p {
        padding: 3%;
    }
}

.inner h2 {
    background-image: url(images/titlebg.png);
    color: white;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: left;
    padding: 10px 0 10px 135px;
    font-size: 1.4rem;
    transition: .3s;
}

.txtContent {
    background-color: #ecbd42;
    padding: 10px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    font-size: 1.4rem;
    text-align: center;
}

.txtContentShape {
    width: 55%;
    margin: 0 auto 6%;
    display: flex;
}

.videoStyle {
    width: 100%;
    height: 412px;
    border-radius: 10px;
    box-shadow: 1px 2px 3px gray;
}

@media screen and (max-width:768px) {
    .col_4, .col_6 {
        width: 100%;
    }
    .layout_full .layoutFlex {
        display: block;
    }
    .txtContent {
        width: 100%;
    }
}

@media screen and (max-width:552px) {
    .bannerBtn {
        width: 90%;
    }
    .inner h2 {
        background-size: cover;
        padding: 10px 0 10px 105px;
    }
    .txtContentShape {
        width: 100%;
    }
    .layoutFlex1 {
        display: flex;
        justify-content: space-around;
    }
    .layoutFlex1 .item {
        width: 100%;
        padding: 0px;
    }
    .videoStyle {
        height: 300px;
    }
}

/* countdown */

.countdown {
    position: absolute;
    left: 10%;
    bottom: 28%;
    transform: rotate(-4deg);
    transition: .3s;
}

@media screen and (max-width:1300px) {
    .countdown {
        left: 0%;
    }
}

@media screen and (max-width:500px) {
    .countdown {
        left: 7%;
        bottom: 25%;
    }
}

.countdown ul {
    padding: 0 25px;
    margin: 0;
    color: black;
    font-size: 2rem;
}

.countdown ul li {
    display: inline-block;
    font-size: 1rem;
    list-style-type: none;
    padding: 0;
    text-transform: uppercase
}

.countdown span {
    color: #000;
    font-size: 0.875rem;
    text-shadow: #6f5050 1px 1px 2px;
}

.countdown span.num {
    font-size: 3rem;
    font-weight: bolder;
}

@media screen and (max-width:400px) {
    .countdown span.num {
        font-size: 2rem;
        font-weight: bolder;
    }
}

/* end countdown */

.boxVote {
    width: 30%;
    margin: 10px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
}

.boxVote p:nth-child(1) {
    font-size: 2rem;
    padding: 63px 0;
}

.boxVote p:nth-child(3) {
    font-size: 1.6rem;
    padding: 63px 0;
}

.boxVote hr {
    border: 2px solid white;
    width: 70%;
}

@media screen and (max-width:500px) {
    .boxVote hr {
        display: none
    }
    .boxVote p {
        padding: 0;
    }
    .boxVote p:nth-child(1) {
        width: 30%;
    }
    .boxVote p:nth-last-child(1) {
        text-align: right;
        width: 63%;
    }
}

.boxVote:nth-child(1) {
    background-color: #ecbd42;
}

.boxVote:nth-child(2) {
    background-color: #000000;
}

.boxVote:nth-child(3) {
    background-color: #a8a1a1;
}

.boxVoteLoad {
    text-align: left;
    display: flex;
    background-color: #d3aa81;
    width: 100%;
    white-space: nowrap;
    height: 50px;
    line-height: 50px;
    font-size: 1.4rem;
}

#total {
    background: linear-gradient(90deg, rgba(182, 159, 122, 1) 0%, rgba(241, 207, 117, 1) 40%, rgba(236, 189, 66, 1) 100%);
    text-align: center;
}

@media screen and (max-width:768px) {
    .layout_full .layoutFlex .boxVote {
        width: 100%;
        line-height: 2;
        margin: 10px 0;
        display: block;
    }
}

@media screen and (max-width:500px) {
    .layout_full .layoutFlex .boxVote {
        display: flex;
    }
    .loadingBar p span {
        display: block
    }
}

footer {
    background-color: #181818;
    padding: 10px;
    color: white;
}

footer img {
    width: 30px;
    vertical-align: middle;
}

.footer_logo a {
    color: white;
}

.footer_logo {
    text-align: center;
}

.footer_logo a:visited {
    color: white;
}

/* 相關新聞 */

.col_box {
    width: 370px;
    height: 370px;
    display: inline-block;
    background-color: white;
    margin: 2%;
    cursor: pointer;
    box-shadow: 1px 2px 12px #c3c3c3;
}

.col_box h5, .col_box p {
    text-align: left;
    padding: 15px;
}

.col_box p {
    font-size: 1rem;
}

.cover_news {
    height: 210px;
    overflow: hidden;
}

.col_box .cover_news img {
    transition: .2s;
}

.col_box:hover .cover_news img {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: brightness(70%);
}

.cover_news p {
    font-size: 1rem;
}

@media screen and (max-width:420px) {
    .cover_news {
        height: 190px;
    }
    .col_box {
        width: 90%;
        height: auto;
        margin-bottom: 30px;
    }
}

.goToTop {
    position: fixed;
    bottom: 3%;
    right: 2%;
    border: 3px solid;
    padding: 10px;
    border-radius: 30px;
    transition: .3s;
    cursor: pointer;
    background-color: #f4db99;
    box-shadow: 1px 2px 3px black;
}

.goToFB {
    position: fixed;
    bottom: 10%;
    right: 2%;
    border: 3px solid;
    padding: 13px;
    border-radius: 30px;
    transition: .3s;
    cursor: pointer;
    background-color: #f4db99;
    box-shadow: 1px 2px 3px black;
}

.goToTop:hover, .goToFB:hover {
    background-color: black;
}

.goToTop:hover i, .goToFB:hover i {
    color: white;
}

.hovertext {
    position: absolute;
    background-color: #d4d3d3a6;
    cursor: pointer;
    padding: 5px 3px;
    left: 0;
    top: 0;
    z-index: 99;
}

/* SVG */

.cls-1 {
    fill: gray;
    stroke: #dadada;
    stroke-miterlimit: 10;
}

.degree1 {
    fill: #237599
}

.degree2 {
    fill: #2d819e
}

.degree3 {
    fill: #3990a8
}

.degree4 {
    fill: #4599ad
}

.degree5 {
    fill: #50a7b5
}

.degree6 {
    fill: #67bcc1
}

.degree7 {
    fill: #95d8d5
}

.ndegree1 {
    fill: #d8a21a
}

.ndegree2 {
    fill: #f0ca66
}

.ndegree3 {
    fill: #f6d788
}

.ndegree4 {
    fill: #fee298
}

.ndegree5 {
    fill: #fae3a7
}

.ndegree6 {
    fill: #ffefc6
}

.ndegree7 {
    fill: #fff9ef
}

.mapStyle {
    width: 60%;
    margin: auto;
    padding-top: 5%;
}

.mapSwitch {
    position: absolute;
    text-align: left;
    top: 15%;
    left: 3%;
}

.mapInfo {
    position: absolute;
    text-align: left;
    bottom: 50%;
    right: 3%;
}

.mapSwitch li {
    font-size: 1.2rem;
    cursor: pointer;
}

.mapSwitch .actived {
    font-size: 1.4rem;
    background-color: #ecbd43;
}

.mapSwitch li, .mapInfo li {
    display: block;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 1px 2px 3px #e4e4e4;
}

.mapInfo li:nth-child(1) {
    font-size: 1.2rem;
    background-color: antiquewhite;
}

.guild {
    position: absolute;
    right: 3%;
    width: 300px;
}

@media screen and (max-width:768px) {
    .mapStyle {
        width: 100%;
    }
    .mapInfo {
        bottom: 0%;
    }
}

@media screen and (max-width:500px) {
    .guild {
        display: none
    }
}

@media screen and (max-width:350px) {
    .inner h2 {
        background-image: url();
        color: black;
        padding: 0;
        font-weight: bolder;
        text-align: center;
    }
}

.moreBtn {
    background-color: #ecbd43;
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    transition: .3s;
    cursor: pointer;
}

.moreBtn:hover {
    background-color: black;
    color: white;
}
